<link rel="stylesheet" href="__CSS__/welcome.css?v={$version}" media="all">
<div class="layuimini-container">
    <div class="layuimini-main">


<input class="layui-input" id="test1" type="text" placeholder="yyyy-MM-dd"  value="{$date[1]??''}{$date[0]==1?' - ':''}{$date[2]??''}">

        <div class="layui-row layui-col-space15">
            <div class="alayui-col-md8">
                <div class="layui-row layui-col-space15">
  
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>数据统计</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
             
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>平台总业绩</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$all.yeji}</h1>
                                                        <small>业绩总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6" onclick="show_good_member(0,'all_member');">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>会员总数</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$all.zong_num}</h1>
                                                        <small>平台总体的会员数量</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6" onclick="show_good_member(0,'yestoday_member');">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>昨日新增</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$all.yestoday_member}</h1>
                                                        <small>昨天新注册的会员数量</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6" onclick="show_good_member(0,'good_member');">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>新增有效会员</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$all.good_member}</h1>
                                                        <small>本月报新增有效会员数量</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






{volist name="$p" id="v"}
                <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>{$v.name}&nbsp;平台数据统计</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
             
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>平台总业绩</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$v.yeji_zong}</h1>
                                                        <small>业绩总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6" onclick="show_good_member({$v.platform_id},'all_member');">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>会员总数</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$v.zong_num}</h1>
                                                        <small>绑定平台的会员数量</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6" onclick="show_good_member({$v.platform_id},'yestoday_member');">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>昨日新增</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$v.yestoday_new_tree}</h1>
                                                        <small>昨天新增绑定平台的会员数量</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6" onclick="show_good_member({$v.platform_id},'good_member');">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>新增有效会员</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$v.good_member}</h1>
                                                        <small>本月报新增有效会员数量</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                         
                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{/volist}



                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>报表统计</div>
                            <div class="layui-card-body">
                                <div id="echarts-records" style="width: 100%;min-height:500px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">

              

                <div class="layui-card" style="display: none">
                    <div class="layui-card-header"><i class="fa fa-fire icon"></i>版本信息</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>框架名称</td>
                                <td>
                                    EasyAdmin
                                </td>
                            </tr>
                            <tr>
                                <td>当前版本</td>
                                <td>v2.0.0</td>
                            </tr>
                            <tr>
                                <td>主要特色</td>
                                <td>零门槛 / 响应式 / 清爽 / 极简</td>
                            </tr>
                            <tr>
                                <td>Gitee</td>
                                <td style="padding-bottom: 0;">
                                    <div class="layui-btn-container">
                                        <a href="https://gitee.com/zhongshaofa/easyadmin" style="margin-right: 15px"><img src="https://gitee.com/zhongshaofa/easyadmin/badge/star.svg?theme=dark" alt="star"></a>
                                        <a href="https://gitee.com/zhongshaofa/easyadmin"><img src="https://gitee.com/zhongshaofa/easyadmin/badge/fork.svg?theme=dark" alt="fork"></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Github</td>
                                <td style="padding-bottom: 0;">
                                    <div class="layui-btn-container">
                                        <iframe src="https://ghbtns.com/github-btn.html?user=zhongshaofa&repo=easyadmin&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=zhongshaofa&repo=easyadmin&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


    

            </div>
        </div>
    </div>
</div>


<script>

var optionRecords = {
    title: {
        text: '用户统计'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:[{volist name="$p" id="v"}
                "{$v.name}",
                {/volist}
                "总计"
                ] //['会员总数', '昨日新增', '新增有效会员']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },

    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: 
            ['会员总数', '昨日新增', '新增有效会员','业绩']
    },
    yAxis: {
        type: 'value'
    },
    series: [
    {volist name="$p" id="v"}
        {
            name: '{$v.name}',
            type: 'line',
            stack: '总量',
            data: [
            
                {$v.zong_num},
                {$v.yestoday_new_tree},
                {$v.good_member},
                {$v.yeji_zong},
            ]
        },
     {/volist}
        {
            name: '总计',
            type: 'line',
            stack: '总量',
            data: [
                
               {$all.zong_num},
                {$all.yestoday_member},
                {$all.good_member},
                {$all.yeji},
            ]
        }
    ]
};



layui.use('laydate', function(){
  var laydate = layui.laydate;
  // var layer=layui.layer;
  // window.layer=layui.layer;
  // laydate.render({
  //   elem: '#test1'
  // });
  //日期范围，指定绑定的DOM元素
    laydate.render({
        elem: '#test1'
        ,range: true
        ,trigger: 'click'
        ,show: false
        ,done:function(value,date,enddate){
            console.log(enddate);
             //year: 2022, month: 6, date: 23,
             var start_date=date.year+"-"+date.month+"-"+date.date;
             var end_date=enddate.year+"-"+enddate.month+"-"+enddate.date;
             window.location.replace("/admin/index/welcome?start_date="+start_date+"&end_date="+end_date)
        }
    });

    // function show_good_member(id){
    //     layer.open({
    //             type: 2
    //             ,title: '人员明细详情'
    //             ,content: '{:url("admin.index/show_list")}?platform_id='+id
    //             ,area: ['90%', '90%']
    //         })
    // }
    // window.show_good_member=show_good_member;
});
function show_good_member(id,type){
    var start="{$date[1]??''}";
    var end="{$date[2]??''}";
    var url='{:url("index/show_list")}?platform_id='+id+'&member_type='+type;
    if(start!=""){
        url+="&start_date="+start;
    }
    if(end!=""){
        url+="&end_date="+end;
    }
    layer.open({
        type: 2
        ,title: '人员明细详情'
        ,content: url
        ,area: ['90%', '90%']
    })
    // good_member(id);
}

function load_excel(title,list){

     $.ajax({
        type:"post",
        url: "/admin/enterprise/exportExcel",
        data: {columName:title,list:list,download:1},
        dataType: "json",
        success: function(res){
            window.open("/excel/"+res);
        }
    });
}
</script>