<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
 
        <div class="layui-form-item">
            <label class="layui-form-label">提现状态</label>
            <div class="layui-input-block">
                <input disabled type="radio" name="status" value="0" title="待审核" checked>
                <input  type="radio" name="status" value="1" title="已打款" >
                <input  type="radio" name="status" value="2" title="已拒绝" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">审核理由</label>
            <div class="layui-input-block">
               <!--  <input type="text" name="cause" value="{$item.cause|default=''}"> -->
               <textarea name="cause"    class="layui-textarea" rows="5"></textarea>
            </div>
        </div>

        <div class="layui-form-item text-center">
        
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>

            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="parent.layer.closeAll()">关闭</button>
        </div>
    </form>
</div>