{extend name='layout/layout' /}
{block name='css'}
{__block__}
{/block}
{block name='body'}
{__block__}
<div class="ind_a">
    <div class="a1" @click="toMy">
        <span><img src="__IMG__/a1.png" alt=""></span>
        ID:12345678
    </div>
    <div class="a2">
        <div class="b1">总平台业绩（元）</div>
        <div class="b2">32,806.00</div>
    </div>
    <a href="" class="a3">开通代理</a>
</div>
<div class="ind_b">
    <div class="tit">团队业绩</div>
    <div class="list">
        <div class="item">
            <div class="b1"><span><img src="__IMG__/icon/a2.png"></span>一级业绩</div>
            <div class="b2">¥5,433.00</div>
        </div>
        <div class="item">
            <div class="b1"><span><img src="__IMG__/icon/a3.png"></span>一级佣金</div>
            <div class="b2">¥3,168.00</div>
        </div>
        <div class="item">
            <div class="b1"><span><img src="__IMG__/icon/a4.png"></span>二级业绩</div>
            <div class="b2">¥5,433.00</div>
        </div>
        <div class="item">
            <div class="b1"><span><img src="__IMG__/icon/a5.png"></span>二级佣金</div>
            <div class="b2">¥3,168.00</div>
        </div>
    </div>
</div>
<div class="ind_c">
    <div class="tit">团队管理</div>
    <div class="list">
        <div class="item">
            <div class="b1"><img src="__IMG__/icon/b1.png"></div>
            <div class="b2 tc_1">一级人数</div>
            <div class="b3 tc_1">42</div>
        </div>
        <div class="item">
            <div class="b1"><img src="__IMG__/icon/b2.png"></div>
            <div class="b2 tc_1">二级人数</div>
            <div class="b3 tc_1">100</div>
        </div>
        <div class="item">
            <div class="b1"><img src="__IMG__/icon/b3.png"></div>
            <div class="b2 tc_1">本月新注册</div>
            <div class="b3 tc_1">142</div>
        </div>
        <div class="item">
            <div class="b1"><img src="__IMG__/icon/b4.png"></div>
            <div class="b2 tc_1">本月有效新增</div>
            <div class="b3 tc_1">42</div>
        </div>
        <div class="item">
            <div class="b1"><img src="__IMG__/icon/b5.png"></div>
            <div class="b2 tc_1">总人数</div>
            <div class="b3 tc_1">142</div>
        </div>
        <div class="item">
            <div class="b1"><img src="__IMG__/icon/b6.png"></div>
            <div class="b2 tc_1">可提现金额</div>
            <div class="b3 tc_1">100</div>
        </div>
    </div>
</div>
{/block}
{block name='js'}
{__block__}
<script>
    new Vue({
        el: '#app',
        data() {
            return {}
        },
        methods: {
            toMy() {
                utils.to('/mobile/my')
            }
        }
    })
</script>
{/block}