<form class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">站点名称</label>
        <div class="layui-input-block">
            <input type="text" name="site_title" lay-verify="required" autocomplete="off" placeholder="请输入站点名称"
                   class="layui-input" value="{$site.site_title}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">LOGO图标</label>
        <div class="layui-input-block layuimini-upload">
            <input class="layui-input layui-col-xs6 site_logo" lay-verify="required" readonly placeholder="请上传LOGO图标" value="{:filePathJoin($site.site_logo)}">
            <input type="hidden" name="site_logo" value="{$site.site_logo}">
            <div class="layuimini-upload-btn">
                <span><a class="layui-btn" data-upload="site_logo" data-upload-type="logo" data-upload-number="one" data-upload-exts="png|jpg|jpeg"><i class="fa fa-upload"></i> 上传</a></span>
                <span><a class="layui-btn layui-btn-normal" id="select_logo_image" data-upload-select="site_logo" data-upload-number="one"><i class="fa fa-list"></i> 选择</a></span>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">平台所在地</label>
        <div class="layui-input-inline">
            <select name="site_location_province" class="province" lay-verify="required" lay-filter="province">
                <option value="">请选择省</option>
                {volist name="province" id="_province"}
                <option value="{$_province.id}" {eq name="$_province.id" value="$site.site_location_province"} selected {/eq}>{$_province.ext_name}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="site_location_city" class="city" lay-verify="required" lay-filter="city">
                <option value="">请选择市</option>
                {volist name="city" id="_city"}
                <option value="{$_city.id}" {eq name="$_city.id" value="$site.site_location_city"} selected {/eq}>{$_city.ext_name}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="site_location_area" class="area" lay-verify="required" lay-filter="area">
                <option value="">请选择县/区</option>
                {volist name="area" id="_area"}
                <option value="{$_area.id}" {eq name="$_area.id" value="$site.site_location_area"} selected {/eq}>{$_area.ext_name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">详细地址</label>
        <div class="layui-input-block">
            <input type="text" name="site_location_address" lay-verify="required" autocomplete="off" placeholder="请输入平台详细地址"
                   class="layui-input" value="{$site.site_location_address}" maxlength="15">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-block">
            <input type="text" name="site_phone" lay-verify="required" autocomplete="off" placeholder="请输入平台联系电话"
                   class="layui-input" value="{$site.site_phone}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">版本信息</label>
        <div class="layui-input-block">
            <input type="text" name="site_version" lay-verify="required" autocomplete="off"
                   placeholder="请输入版本信息"
                   class="layui-input" value="{:sysconfig('site', 'site_version')}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">代理须知</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea editor" name="agency_notice" id="" cols="30" rows="10"
            >{:sysconfig('site', 'agency_notice')}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">成为代理费用</label>
        <div class="layui-input-block">
            <input type="number" name="agency_money" lay-verify="required" autocomplete="off"
                   placeholder="请输入成为代理费用"
                   class="layui-input" value="{:sysconfig('site', 'agency_money')}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">成为代理手续费</label>
        <div class="layui-input-block">
            <input type="number" name="agency_service_charge" lay-verify="required" autocomplete="off"
                   placeholder="请输入成为代理手续费"
                   class="layui-input" value="{:sysconfig('site', 'agency_service_charge')}">
        </div>
    </div>

    <div class="layui-form-item text-center">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit
                data-refresh="false">确认
        </button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
    </div>
</form>