<style>


/* 分页 */
.pagination {display: inline-block;padding-left: 0;border-radius: 4px;}
.pagination > li {display: inline;}
.pagination > li > a, .pagination > li > span {position: relative;float: left;padding: 10px 15px;margin-left: -1px;line-height: 1.42857143;color: #222222;text-decoration: none;background-color: #fff;border: 1px solid #EEEEEE;}
.pagination > li:first-child > a,.pagination > li:first-child > span {margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {z-index: 2;color:#04a07b;background-color: #F9F9F9;border-color: #EEEEEE;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {z-index: 3;color: #FFFFFF;cursor: default;background-color: #04a07b;border-color: #04a07b;}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {color: #CCCCCC;cursor: not-allowed;background-color: #fff;border-color: #EEEEEE;}

</style>
<div class="layuimini-container">
    <select name="platform" id="platform" class="layui-select" style="width: 200px; float: left; margin-right: 30px;">
        <option value="0">全部平台</option>
        {volist name="platform" id="it"}
        <option value="{$it.platform_id}" {eq name="$it.platform_id" value="$platform_id"} selected {/eq}    >{$it.name}</option>
        {/volist}
        
    </select>
    <input name="date" id="date" class="layui-input" style="width: 200px;float: left; margin-right: 30px;" value="{$date|default=''}" placeholder="请选择日期"></input>
    <input name="nickname" id="nickname" class="layui-input" style="width: 200px;float: left; margin-right: 30px;" value="{$nickname|default=''}" placeholder="请输入用户昵称"></input>
    <input name="button" id="button" class="layui-btn" style="width: 100px;" onclick="sss();" value="搜索"></input>

    <input name="button" id="outexcel" class="layui-btn" style="width: 100px;" onclick="outexcel();" value="导出"></input>
    <div class="layuimini-main">
        <table  class="layui-table" id="table">
            <tr>
                <td>id</td>
                <td>用户</td>
                <td>uid</td>
                <td>平台</td>
                <td>结算时间</td>
                <td>佣金月份</td>
                <td>当月有效新增</td>
                <td>二级团队数量</td>
                <td>一级业绩 </td>
                <td>二级业绩 </td>
                <td>佣金 </td>
            </tr>
        {volist name="$item" id="v"}  
            <tr>
                <td>{$v.id}</td>
                <td>{$v.nickname}</td>
                <td>{$v.uid}</td>
                <td>{$v.platform}</td>
                <td>{$v.create_time}</td>
                <td>{$v.mon}</td>
               
                <td>{$v.s_new}</td>
                <td>{$v.s2}</td>
                <td>{$v.s_y} </td>
                <td>{$v.s2_y} </td>
                <td>{$v.money} </td>

            </tr>
        {/volist}
            <tr>
                <td>总计</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{$zong.s_new}</td>
                <td>{$zong.s2}</td>
                <td>{$zong.s_y} </td>
                <td>{$zong.s2_y} </td>
                <td>{$zong.money} </td>

        </table>
        <div class="pagination"> {$page|raw|default=""}</div>
       
    </div>
    
</div>


<script>
var time=[];
layui.use("laydate",function(){
    var laydate = layui.laydate;

    laydate.render({
            elem:'#date', // 绑定id为test4的元素
            type: 'date', // 日期选择器   
            range: true ,
            done: function(value, date, endDate){
                   //起始时间
                   let first = value.substr(0,10);
                   let f1 = new Date(first);
                   //终止时间
                   let last = value.substr(13,13);
                   let l1 = new Date(last);
                   time=[f1/1000,l1/1000];

//console.log('value',f1.getTime());

                   var day = l1.getTime() - f1.getTime();
                   var time = parseInt(day/(1000*60*60*24));
            }
    });


});

function sss(){

    var url="/admin/enterprise/commission";
    var platform_id=document.getElementById("platform").value;
    url+="?platform_id="+platform_id;
    var value=$("#date").val();
    var nick=$("#nickname").val();
    if(nick!=""){
        url+="&nickname="+nick;
    }
   //time=[f1/1000,l1/1000];
    if(value !== ''){
        let first = value.substr(0,10);
        let f1 = new Date(first);
        //终止时间
        let last = value.substr(13,13);
        let l1 = new Date(last);
        url+="&starttime="+f1/1000;
        url+="&endtime="+l1/1000;
    }
    window.location.href=url;
}

function outexcel(){
     var t = document.getElementById("table"); //获取第一个表格   
        var list=[],title=[];
        for(var i=0;i<t.rows.length;i++){  
            let c=[];
            for(var j=0;j<t.rows[i].cells.length;j++){  
                c.push(t.rows[i].cells[j].innerHTML);
            }  
            if(i == 0){
                title=c;
            }else{
                list.push(c);
            }
        }  

    $.ajax({
        type:"post",
        url: "/admin/enterprise/exportExcel",
        data: {columName:title,list:list,download:1},
        dataType: "json",
        success: function(res){
            window.open("/excel/"+res);
        }
    });
    // console.log('title',title);
    // console.log('list',list);

}
</script>