
<div class="layuimini-container">



 <select name="p" id="p" onchange="window.location.replace('money?member_id={$member_id}&platform_id='+this.value)" class="layui-select" style="width: 50%;">
        <option value="" >全部</option>
        {volist name="$pp" key="k" id="p"} 
        <option value="{$k}" {$platform_id == $k?"selected":""}>{$p}</option>
        {/volist} 
    </select>

    <table id="currentTable" class="layui-table">
        <tr>
            <td>平台</td>
            <td>类型</td>
            <td>余额</td>
            <td>状态</td>
            <td>时间</td>
        </tr>
        {foreach $item as $k=>$vo }
            <tr>
                <td>{$pp[$vo.platform_id]}</td>
                <td>{$vo.t==0?"结算":"提现"}</td>
                <td>{$vo.t==0?"+":"-"}{$vo.money}</td>
                <td>{$vo.status==1?"已完成":($vo.status==0?"待审核":"已退回")}</td>
                <td>{$vo.create_time|date="Y-m-d H:i:s"}</td>
            </tr>
        {/foreach}

    </table>
    
    
</div>

