{extend name='layout/layout' /}
{block name='css'}
{__block__}
{/block}
{block name='body'}
{__block__}
    <div class="header_a">
        <div class="a1">
            <a href="#"><img src="images/icon/a11.png"></a>
            提现信息认证
        </div>
    </div>
    <div class="tcxxzr_a">
        <div class="item">
            <span>姓名</span>
            <div>
                <input type="text" placeholder="请输入你的真实姓名">
            </div>
        </div>
        <div class="item">
            <span>身份证号</span>
            <div>
                <input type="text" placeholder="请输入你的身份证号码">
            </div>
        </div>
        <div class="item">
            <span>支付宝账号</span>
            <div>
                <input type="text" placeholder="请输入你的支付宝账号">
            </div>
        </div>
    </div>
    <div class="btn_a">
        <a href="#">提交</a>
    </div>
{/block}