{extend name='layout/layout' /}
{block name='css'}
{__block__}
{/block}
{block name='body'}
{__block__}
    <div class="header_a">
        <div class="a1">
            <a href="#"><img src="images/icon/a11.png"></a>
            个人中心
        </div>
    </div>
    <div class="cwdl_a">
        <div class="a1">
            <div class="item">
                <span>支付金额</span>
                <em>¥88.00</em>
            </div>
            <div class="item">
                <span>手续费</span>
                <em>¥0.00</em>
            </div>
        </div>
        <div class="a1">
            <div class="item">
                <span>支付方式</span>
                <i>微信</i>
            </div>
        </div>
    </div>
    <div class="btn_a">
        <a href="#">确认支付</a>
    </div>
{/block}