{extend name='layout/layout' /}
{block name='css'}
{__block__}
{/block}
{block name='body'}
{__block__}
    <div class="header_a">
        <div class="a1">
            <a href="javascript:void(0);" onclick="window.history.go(-1);"><img src="__STATIC__/mobile/images/icon/a11.png"></a>
            用户须知
        </div>
    </div>
    <div class="dlxz_a">

        {$text|raw}
        <!-- <h6 style="font-size: 0.3rem;font-weight: bold;">优惠券使用规则 </h6>
        <p style="font-size: 0.28rem;">亲，百亿补贴优惠券仅限百亿商品使用哦，优惠券是在购买商品时使用，您可以【点击此处】或在【个人中心－优惠券】中查看优惠券的使用期限／使用范围，打开优惠券详情页面，会显示优惠券的有效期、使用商家、店铺等信息，建议您仔细阅读。
            <br><br>
            由于部分商品（如百亿补贴商品）价格已经是平台优惠价，便不能再使用平台优惠券哦～
            <br><br>
            温馨提示：
            <br><br>
            在满足条件的情况下，平台优惠券和店铺优惠券可以叠加使用，但最多各使用一张，在您支付的时候，系统会自动为您计算当前商品可使用优惠券的最优组合哦～
            <br><br>
            如您想了解更多关于活动获取优惠券的相关问题，建议点击下面蓝色的字咨询～
        </p> -->
    </div>
{/block}