{extend name='layout/layout' /}
{block name='css'}
{__block__}
{/block}
{block name='body'}
{__block__}
    
<!--     <div class="content">
        
        <div class="list_a">
            <div class="item" id="t">
               
            </div>
            <div class="item">
                <input type="text" name="username" id="username" placeholder="请输入账号/手机号">
            </div>
    </div>
             <div class="item">
                <input type="text" name="sms" id="sms" placeholder="请输入验证码">
            </div>
            <div class="item">
                <input type="button" onclick="sms_fa()" name="sms_b" id="sms_b" value="发送短信验证码">
            </div>

            <div class="item">
                <input type="submit" onclick="sub_sms()" value="提交">
            </div>


            <div class="item">
                <input type="submit" onclick="register()" value="注册">
            </div>
           
        </div>
    </div> -->
    

    <div class="box_a" >

        <div class="a1" >
            <div class="b1"><img src="__IMG__/logo_1.png"></div>
            <div class="b2">
                <div class="item">
                    <span><img src="__IMG__/icon/dl_1.png"></span>
                    <input placeholder="请输入账号" id="username" type="text">
                </div>
           

                <div class="item on" id="sms_login_div" >
                    <span><img src="__IMG__/icon/dl_2.png"></span>
                    <input placeholder="请输入验证码" id="sms" type="text">
                    <em onclick="sms_fa()" id="sms_b">获取验证码</em>
                </div>
            </div>

            <div class="b3" onclick="sub_sms();">登录</div>
            <div class="b4">
         <!--        <a href="javascript:void(0);" id="password_sms_change" onclick="change_sms();">验证码登录</a>|
                <a href="javascript:void(0);">忘记密码</a>| -->
                <a href="javascript:void(0);" onclick="register()">注册账号</a>
            </div>
        </div>



    </div>

    <script>
    


        var open_id="{$wx.open_id}";
        function sub_sms(){
            if(s==1)return;
            // alert("1");
            var username=$("#username").val();
            var sms=$("#sms").val();

            if(username== ""){
                alert("账号/手机号不能为空");
                $("#username").focus();
                return;
            }else if(sms==""  ){
                alert("验证码不能为空");
                $("#sms").focus();
                return;
            }
            s=1;
            $.ajax({
                type : "POST", //提交方式
                url:"/api/v1.0/access/wx_sms_login",
                data : { 
                  "phone" : username,
                  "sms_code" : sms,
                  "open_id":open_id
                 },//数据，这里使用的是Json格式进行传输 
                success:function(result){
                    //console.log(result);
                    s=0;
                    if(result.code == 0){
                        alert(result.msg);
                        result.data.type="login";
                        goToUrl("/mobile/index","post",result.data);
                        //window.location.replace(window.location.href);
                    }else{
                        alert(result.msg);
                    }
                   
                },
                error:function(err){
                    s=0;
                }
            });

        }
        function sms_fa(){
            s=0;
            var username=$("#username").val();
            $.ajax({
                type : "POST", //提交方式
                url:"/api/common/send_sms",
                data : { 
                  "phone" : username,
                  "type" : 5,
                 },//数据，这里使用的是Json格式进行传输 
                success:function(result){
                    //console.log(result);
                    s=0;
                    if(result.code == 0){
                        alert(result.msg);
                        // result.data.type="login";
                        // goToUrl("/mobile/index","post",result.data);
                        //window.location.replace(window.location.href);
                    }else{
                        alert(result.msg);
                    }
                   
                },
                error:function(err){
                    s=0;
                }
            });
        }

        /*
        * url:跳转链接
        * method:跳转方式
        * params:传递参数   {name:"test" ,age:"123"}]
        * */
        function goToUrl(url,method,params){
            // 创建form元素
            var temp_form = document.createElement("form");
            // 设置form属性
            temp_form .action = url;
            temp_form .method = method;
            temp_form .style.display = "none";
            // 处理需要传递的参数
            for (var x in params) {
                var opt = document.createElement("textarea");
                opt.name = x;
                opt.value = params[x];
                temp_form .appendChild(opt);
            }
            document.body.appendChild(temp_form);
            // 提交表单
            temp_form.submit();
            return temp_form;
        }   

        function register(){
            var params={

                "type":"wx_register",
                "open_id":"{$wx.open_id}",
                'nickname':"{$wx.nickname}",
                'avatar'  :"{$wx.avatar}",

            };
            //window.location.href="/mobile/register";
            goToUrl("/mobile/register","post",params);
        }

        function get_wxurl(){
            var baseUrl=encodeURI("http://"+window.location.host+window.location.pathname);    
            $.ajax({
                type : "POST", //提交方式
                url:"/api/v1.0/access/return_oauth2",
                data : { 
                  "baseUrl" : baseUrl,
                  //"type" : 5,
                 },//数据，这里使用的是Json格式进行传输 
                success:function(result){
                    console.log(result);
                    // s=0;
                    if(result.code == 0){
                        window.location.replace(result.data.url);
                    }else{
                        alert(result.msg);
                    }
                   
                },
                error:function(err){
                    s=0;
                }
            });
        }
function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return decodeURI(r[2]);
    return null;
}

    </script>
{/block}