<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>index</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="swiper/swiper-bundle.min.css">
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="swiper/swiper-bundle.min.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div class="box_a">
        <div class="a1">
            <div class="b1"><img src="images/logo_1.png"></div>
            <div class="b2 on">
                <div class="item">
                    <span>手机号</span>
                    <input placeholder="请输入手机号"  type="text" name="" id="">
                </div>
                <div class="item on">
                    <span>验证码</span>
                    <input placeholder="请输入验证码"  type="text" name="" id="">
                    <em>获取验证码</em>
                </div>
                <div class="item">
                    <span>设置密码</span>
                    <input placeholder="请输入秘密"  type="text" name="" id="">
                </div>
                <div class="item">
                    <span>确认密码</span>
                    <input placeholder="请输入秘密"  type="text" name="" id="">
                </div>
            </div>
            <div class="b3">确定</div>
            <div class="b4">
                <a href="#">已有账号登录</a>
            </div>
            <div class="b5"><em><input type="checkbox"></em> 同意服务条款及隐私协议</div>
        </div>
    </div>
</body>
<script>

</script>

</html>