{extend name='layout/layout' /}
{block name='css'}
{__block__}
{/block}
{block name='body'}
{__block__}
    <div class="header_a">
        <div class="a1">
            <a href="#"><img src="images/icon/a11.png"></a>
            本月新增
            <span><img src="images/icon/a18.png"></span>
        </div>
        <div class="a4">
            <span class="select">新注册(142)</span>
            <span>有效新增(42)</span>
        </div>
    </div>
    <div class="content">
        <div class="list_a">
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em><img src="images/icon/a6.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em class="on"><img src="images/icon/a15.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em><img src="images/icon/a6.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em class="on"><img src="images/icon/a15.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em><img src="images/icon/a6.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em class="on"><img src="images/icon/a15.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em><img src="images/icon/a6.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em class="on"><img src="images/icon/a15.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em><img src="images/icon/a6.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em class="on"><img src="images/icon/a15.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em><img src="images/icon/a6.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/a1.png">
                </div>
                <div class="text">
                    <div class="b1">我是用户名<em class="on"><img src="images/icon/a15.png"></em></div>
                    <div class="b2">ID:94343412</div>
                    <div class="b3">2021/8/24 16:23</div>
                </div>
                                <div class="price">
                    <span>+856.00</span>
                </div>
            </div>
        </div>
    </div>
{/block}