<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>index</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="swiper/swiper-bundle.min.css">
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="swiper/swiper-bundle.min.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div class="my_a">
        <div class="a1">
            <div class="b1"><img src="img/a1.png"></div>
            <div class="b2">我是用户名 <span><img src="images/icon/a6.png"></span></div>
            <div class="b3">130****5678</div>
            <a href="#" class="b4"><img src="images/icon/a10.png"></a>
        </div>
        <div class="a2">ID:12345678 | 2022-03-02</div>
    </div>
    <div class="my_b">
        <a href="#" class="item">
            <span><img src="images/icon/c4.png"></span>
            <em>联系我们</em>
            <i><img src="images/icon/c8.png"></i>
        </a>
        <a href="#" class="item">
            <span><img src="images/icon/c5.png"></span>
            <em>用户须知</em>
            <i><img src="images/icon/c8.png"></i>
        </a>
        <a href="#" class="item">
            <span><img src="images/icon/c6.png"></span>
            <em>邀请海报</em>
            <i><img src="images/icon/c8.png"></i>
        </a>
        <a href="#" class="item">
            <span><img src="images/icon/c7.png"></span>
            <em>提现信息</em>
            <i><img src="images/icon/c8.png"></i>
        </a>
    </div>
    <div class="my_c">
        <a href="#">
            <em><img src="images/icon/d1.png"><img src="images/icon/d2.png"></em>
            <span>首页</span>
        </a>
        <a href="#" class="select">
            <em><img src="images/icon/d3.png"><img src="images/icon/d4.png"></em>
            <span>我的</span>
        </a>
    </div>
    <!-- style="display:none;" -->
    <div class="alert_a" style="display:;">
        <div class="box" style="padding-top: 1.17rem;">
            <div class="b1"><img src="images/ktzh_a1.png"></div>
            <div class="b5"><img src="images/icon/a17.png"></div>
            <div class="b6">
                <img src="img/a4.png">
                <span>请添加客服微信</span>
            </div>
        </div>
    </div>
</body>
<script>

</script>

</html>