<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>index</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="swiper/swiper-bundle.min.css">
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="swiper/swiper-bundle.min.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div class="header_a">
        <div class="a1">
            <a href="#"><img src="images/icon/a11.png"></a>
            提现
        </div>
    </div>
    <div class="content">
        <div class="tx_a">
            <span>可提现金额</span><i>¥</i>1000.00
        </div>
        <div class="tx_b">
            <span><img src="images/icon/a12.png"></span>
            姓名156****0000
        </div>
        <div class="tx_c">
            <div class="a1">
                <span>¥</span>
                <div><input type="number" placeholder="输入提现金额"></div>
                <em>全部提现</em>
            </div>
            <div class="a2">手续费0.1%，实际到账¥999.00</div>
            <div class="a3">提现</div>
        </div>
        <a href="#" class="tx_d">
            <img src="img/a3.jpg">
        </a>
    </div>
</body>
<script>

</script>

</html>