<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>index</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="swiper/swiper-bundle.min.css">
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="swiper/swiper-bundle.min.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/index.js"></script>
    <script src="js/datePicker.js"></script>
</head>

<body>
    <div class="header_a">
        <div class="a1">
            <a href="#"><img src="images/icon/a11.png"></a>
            业绩明细
        </div>
    </div>
    <div class="yjmx_a">
        <div class="box">
            <div class="a1">
                <span id="timeBtn"></span>
                <em>总业绩：1000.00</em>
            </div>
            <div class="a2">
                <div class="item">
                    <span>03-01</span>
                    <em>+100.00</em>
                </div>
                <div class="item">
                    <span>03-01</span>
                    <em>+100.00</em>
                </div>
                <div class="item">
                    <span>03-01</span>
                    <em>+100.00</em>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var calendar = new datePicker();
    var date = new Date();
    let Y = date.getFullYear();
    let M = date.getMonth() + 1;
    $("#timeBtn").html(Y + '-' + (M < 10 ? '0' + M : M))
    calendar.init({
        'trigger': '#timeBtn', /*按钮选择器，用于触发弹出插件*/
        'type': 'ym',/*模式：date日期；datetime日期时间；time时间；ym年月；*/
        'minDate': '1900-1-1',/*最小日期*/
        'maxDate': Y + '-' + M,/*最大日期*/
        'onSubmit': function () {/*确认时触发事件*/
            var theSelectData = calendar.value;
            console.log(theSelectData);
            $("#timeBtn").html(theSelectData)
        },
        'onClose': function () {/*取消时触发事件*/
        }
    });
</script>

</html>