<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>index</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="swiper/swiper-bundle.min.css">
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="swiper/swiper-bundle.min.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div class="xzpt_a">
        <div class="a1">
            <div class="b1"><img src="img/a1.png"></div>
            <div class="b2">我是用户名 <span><img src="images/icon/a6.png"></span></div>
            <div class="b3">130****5678</div>
            <div class="b4"><span><img src="images/icon/a8.png"></span> 绑定团队</div>
        </div>
        <div class="a2">ID:12345678 | 2022-03-02</div>
    </div>
    <div class="xzpt_b">
        <div class="list">
            <a href="#" class="item">
                <h6>平台A</h6>
                <p>立即登录查看</p>
                <span>go</span>
                <img src="images/icon/c1.png">
            </a>
            <a href="#" class="item">
                <h6>平台A</h6>
                <p>立即登录查看</p>
                <span>go</span>
                <img src="images/icon/c2.png">
            </a>
            <a href="#" class="item">
                <h6>平台A</h6>
                <p>立即登录查看</p>
                <span>go</span>
                <img src="images/icon/c3.png">
            </a>
        </div>
        <a href="" class="a1">
            <img src="img/a2.png">
        </a>
    </div>
</body>
<script>

</script>

</html>